.chatBotContainer {
  border: 1px solid #f0eaea;
  width: 24rem;
  height: 32rem;
  bottom: 0;
  right: 0;
  background-color: white;
  z-index: 9999;
  margin: 0 3rem 3rem 0;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: absolute;
  color: black;
}

.chatHeaderContainer {
  height: 20%;
  width: 100%;
  overflow: hidden;
  background-color: #464cde;
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  justify-content: center;
}

.chatHeaderTitle {
  font-size: 1.2rem;
  font-weight: 600;
}

.chatHeaderSubTitle {
  font-size: 0.9rem;
  color: #e1dddd;
}

.chatHeaderTitleContainer {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.sparklesIcon {
  height: 1.4rem;
  width: 1.4rem;
}

.messageContainer {
  display: flex;
  gap: 0;
  width: 100%;
  padding-right: 0.6rem;
}

.messageSection {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.messageTitle {
  font-weight: 600;
  font-size: 1rem;
}
.messageText {
  padding-right: 0.5rem;
  p {
    margin-bottom: 0px;
  }
}

.avatarSection {
  position: relative;
  width: 100%;
  margin: 0 0 0 0.9rem;
}

.avatarParseable {
  width: 14rem;
  position: absolute;
}

.userAvatar {
  width: 3rem;
  color: #d2d2d2;
  margin-right: 0.5rem;
  padding-right: 0.8rem;
}

.messageList {
  flex: 1;
  overflow: scroll;
}

.pillsContainer {
  padding: 0 1rem;
  margin-top: 1rem;
  display: inline-flex;
  flex-wrap: wrap;
}

.pill {
  border: 1px solid #464cde;
  padding: 0.25rem 1rem;
  border-radius: 0.75rem;
  color: #464cde;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 600;
  margin-bottom: 0.6rem;
  margin-right: 0.4rem;
}

.searchInputContainer {
  padding: 1rem 1rem;
  display: flex;
  gap: 0.5rem;
}

.searchInput {
  flex: 1;
  height: 2.8rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  padding-left: 0.75rem;
  border: 1px solid #b5b0b0;
}

.sendMessageBtnContainer {
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #464cde;
}

.rotatingIcon {
  height: 1.4rem;
  width: 1.4rem;
}

.loadingMessageContainer {
  display: flex;
  gap: 0.4rem;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.loadingMessage {
  color: #484545;
  /* font-size: 0.9rem; */
}

.aiBulbIcon {
  width: 2rem;
  height: 2rem;
  padding-left: 0.2rem;
  position: relative;
}

@media screen and (max-width: 768px) {
  .chatBotContainer {
    margin: 0%;
    right: -130%;
    bottom: 200%;
  }
}
@media screen and (max-width: 400px) {
  .chatBotContainer {
    height: 70vh;
    width: 90vw;
    right: -160%;
    bottom: 200%;
  }
}
