.container {
    position: fixed;
    bottom: 1%;
    left: 1%;
    width: 25vw;
    background: white;
    padding: 20px;
    z-index: 9999;
    border-radius: 0.2rem;
    box-shadow: 0px 0px 20px 0px rgba(84,91,235,0.75);
    gap: 12;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width:800px) {
  .container {
    width: 98vw;
    min-height: 10vh;
    bottom: 2%;
  }
}
